
  .card {
    transition: transform 0.3s ease;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    opacity: .87;
    width: 300px;
    padding: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }
  .icons{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .content {
    text-align: center;
    margin-bottom: 20px;
  }
  
  
  .card:hover {
    transform: scale(1.05);
    
  }
  .gitAcc{
    display: flex;
    justify-content: center;
  }
  