.wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 1rem;
    width: 100%;
    background-image: url("../../images/china-wuhan-coronavirus-maps-promo-1610933157013-superJumbo-v1025.png");
    /* background-size: 100%;
    background-repeat: no-repeat; */
}