*{margin: 0;}
.NavBar {
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  gap: 4rem;
}
.NavBar .nav {
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  text-decoration: none;
  color: rgb(39, 39, 39);
}
.NavBar .nav:hover {
    transition: ease-in-out 0.2s;
  cursor: pointer;
  color: rgb(44, 44, 44);
  box-shadow: rgba(88, 47, 0, 0.384) 0px 5px, rgba(255, 102, 0, 0.3) 0px 10px, rgba(255, 102, 0, 0.2) 0px 15px, rgba(255, 102, 0, 0.1) 0px 20px, rgba(255, 102, 0, 0.05) 0px 25px;
  
}
.nav.active {
  cursor: pointer;
  color: rgb(161, 36, 36);
  
}
